<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />

    <title>Team Members</title>
  </head>
  <body>
    <header class="header" id="header">
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="{{ url_for('home') }}" class="nav_link">Fraud Detection</a>
            <!-- <a href="{{ url_for('home') }}" class="nav_link">Home</a> -->
          </li>
          <li class="nav_item">
            <a href="/dashboard" class="nav_link">Dashboard</a>
          </li>
          <li class="nav_item">
            <a href="{{ url_for('about') }}" class="nav_link">About</a>
          </li>
          <li class="nav_item">
            <a href="{{ url_for('team') }}" class="nav_link">Team Members</a>
          </li>
          <li class="nav_item logout-btn">
            <a href="{{ url_for('logout') }}" class="nav_link">Logout</a> 
          </li>
        </ul>
      </nav>
    </header>

    <div class="team-container">
      <h1 class="team-head">Team Members</h1>
      <hr />

      <div class="team_content">
        <div class="member">
          <img src="/static/img/p1.jpg" alt="" />
          <h2 class="member-name">Zineb Doukkali</h2>
          <p class="para1">ESISA</p>
          <p class="para2">
            I'm Zineb Doukkali from Ecole Superieure d'Ingenlerle en Sciences
            Appliquees, currently engaged in a project focused on enhancing
            credit card fraud detection.
          </p>
        </div>

        <div class="member">
          <img src="/static/img/p2.jpg" alt="" />
          <h2 class="member-name">Wiam Bel Mehdi</h2>
          <p class="para1">ESISA</p>
          <p class="para2">
            I'm Wiam Bel Mehdi from Ecole Superieure d'Ingenlerle en Sciences
            Appliquees, currently engaged in a project focused on enhancing
            credit card fraud detection.
          </p>
        </div>

        <div class="member">
          <img src="/static/img/p3.jpg" alt="" />
          <h2 class="member-name">Younes Bel Mehdi</h2>
          <p class="para1">ESISA</p>
          <p class="para2">
            I'm Younes Bel Mehdi from Ecole Superieure d'Ingenlerle en Sciences
            Appliquees, currently engaged in a project focused on enhancing
            credit card fraud detection.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
